# Ignora variáveis de ambiente
.env

# Ignora tudo dentro de uploads/csv, exceto .gitkeep
src/uploads/csv/*
!src/uploads/csv/.gitkeep

# Ignora tudo dentro de uploads/pdf, exceto .gitkeep
src/uploads/pdf/*
!src/uploads/pdf/.gitkeep

# Ignora tudo dentro de splitted_pdfs, exceto .gitkeep
splitted_pdfs/*
!splitted_pdfs/.gitkeep

# Ignora dependências
node_modules/

# Ignora arquivos temporários de sistema
.DS_Store
Thumbs.db
